 
.outer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #4f4ff7;
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
  border-radius: 5px;

}

.inner {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  align-items: center;
  background-color: white;
  width: 250;
}

.big-temp {
  text-align: center;
}

.image {
  display: flex;
  justify-content: center;
  padding: 10px;
}

form {
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  background-color: white;
  width: 100%;
  padding: 10px;
  outline: none;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  text-align: center;
}

.submit {
  margin-top: 10px;
}

.detail p {
  display: flex;
  justify-content: space-between;
}

.day {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
