*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('https://media.istockphoto.com/id/1250041285/photo/overhead-aerial-view-of-winding-mountain-road-inside-colorful-autumn-forest.jpg?b=1&s=612x612&w=0&k=20&c=uHNT4xNHf2t-1ayZcWt_vx1_xJzSFXZgg2yyNwp6hfg=');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
/* this is total box (blur box)*/
.input-city-name{
    text-align: center;
    width: 35%;
    margin-left: auto;
    height: cover;
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.2);
    border-radius: 20px;
}

/* this is input typing boxs */
input{
    width: 70%;
    padding: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin-right: 3px;
    color: white;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    letter-spacing: 2px;
    margin-top: 10px;
}

/* button box */
.button{
    padding: 20px;
    margin-right: -3px;
    border: none;
    background-color: orange;
    border-bottom: 1px solid orange;
    border-radius:5px ;
}

/*  for hover button */
.button:hover{
    background-color: black;
    color: orange ;
    cursor: pointer;
}

/* code for button active  */
.button:active{
    background-color: burlywood;
    color: black;
}

/* input place holder edit*/
input::placeholder{
   font-size: 17px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color:white;
   opacity: 70%;
}


/* code for weather notify components  */
.weather-notify h1{
    font-size: 6rem;
    margin-right:2rem;
    font-family: 'Dai Banna SIL', serif;
}


@import url('https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:wght@500&family=Dangrek&display=swap');
.weather-notify p {
    text-align: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.weather-notify{
    color: white;
    margin-left: 5rem;
    text-transform: capitalize;
    font-size: xx-large;
    display: flexbox;
    margin-top: -12rem;
    letter-spacing: 2px;
    text-align:right;
    width: max-content;
    justify-content: center;
    border-bottom: 1px solid white;
    text-shadow: 10px 10px 10px black;

}

/* weather-details [ js code available in input componenerts] */
.weather-details{

    padding: 20px;
    margin-top: 2rem;
    text-align: start;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-transform: capitalize;
    opacity: 80%;
}

/* weather data  [ js code available in input componenerts]*/
.weather-data{

    color: white;
    text-transform: capitalize;
    text-align: left;
    padding: 10px;
}

.weather-data p {
    padding: 30px;
    margin-bottom: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    opacity: 80%;
    background-color: rgba(0,0,0,0.2);
}

/* this is class span tag [for move right of the box ]  */
.span-one{
    color: orange;
    padding: 10px;
    margin-left: 10rem;

}
.span-two{
    color: orange;
    padding: 10px;
    margin-left: 12rem;

}

.span-three{
    color: orange;
    padding: 10px;
    margin-left: 10rem;

}
.span-four{
    color: orange;
    padding: 10px;
    margin-left: 11rem;
}

/* this is for mobile view */
@media (max-width: 767px) {
    *{
        margin: 0;
        padding: 0;
    }
    
    body{
        background-image: url('https://images.pexels.com/photos/358238/pexels-photo-358238.jpeg?auto=compress&cs=tinysrgb&w=600');
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;  
    }
    /* this is total box (blur box)*/
    .input-city-name{
        text-align: center;
        width: 35%;
        margin-left: auto;
        height: 99.5vh;
        backdrop-filter: blur(10px);
        background-color: rgba(0,0,0,0.2);
        border-radius: 20px;
    }
    
    /* this is input typing boxs */
    input{
        width: 70%;
        padding: 20px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        margin-right: 3px;
        color: white;
        text-transform: capitalize;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17px;
        letter-spacing: 2px;
        margin-top: 10px;
    }
    
    /* button box */
    .button{
        padding: 20px;
        margin-right: -3px;
        border: none;
        background-color: orange;
        border-bottom: 1px solid orange;
        border-radius:5px ;
    }
    
    /*  for hover button */
    .button:hover{
        background-color: black;
        color: orange ;
        cursor: pointer;
    }
    
    /* code for button active  */
    .button:active{
        background-color: burlywood;
        color: black;
    }
    
    /* input place holder edit*/
    input::placeholder{
       font-size: 17px;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       color:white;
       opacity: 70%;
    }
    
    
    /* code for weather notify components  */
    .weather-notify h1{
        font-size: 6rem;
        margin-right:2rem;
        font-family: 'Dai Banna SIL', serif;
    }
    
    
    @import url('https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:wght@500&family=Dangrek&display=swap');
    .weather-notify p {
        text-align: center;
        justify-content: center;
        margin-top: 1.5rem;
    }
    
    .weather-notify{
        color: white;
        margin-left: 5rem;
        text-transform: capitalize;
        font-size: xx-large;
        display: flexbox;
        margin-top: -12rem;
        letter-spacing: 2px;
        text-align:right;
        width: max-content;
        justify-content: center;
        border-bottom: 1px solid white;
        text-shadow: 10px 10px 10px black;
    
    }
    
    /* weather-details [ js code available in input componenerts] */
    .weather-details{
    
        padding: 20px;
        margin-top: 2rem;
        text-align: start;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:white;
        letter-spacing: 2px;
        word-spacing: 2px;
        text-transform: capitalize;
        opacity: 80%;
    }
    
    /* weather data  [ js code available in input componenerts]*/
    .weather-data{
    
        color: white;
        text-transform: capitalize;
        text-align: left;
        padding: 10px;
    }
    
    .weather-data p {
        padding: 30px;
        margin-bottom: 3px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        letter-spacing: 1px;
        opacity: 80%;
        background-color: rgba(0,0,0,0.2);
    }
    
    /* this is class span tag [for move right of the box ]  */
    .span-one{
        color: orange;
        padding: 10px;
        margin-left: 10rem;
    
    }
    .span-two{
        color: orange;
        padding: 10px;
        margin-left: 12rem;
    
    }
    
    .span-three{
        color: orange;
        padding: 10px;
        margin-left: 10rem;
    
    }
    .span-four{
        color: orange;
        padding: 10px;
        margin-left: 11rem;
    }

    
}
